<section class="wrapper style2" id="get-started">
    <div class="inner">
        <h2 class="align-center">Get Started with {{ .Site.Params.version }}</h2>
        <p>Ensure your platform is ready for appliance deployment, to be prepared you will need a libvirt virtualisation host.</p>
        <ol>
            <li>Download the Director & Domain appliance images below to <code>/data/ghpc-source/</code> on your VM host</li>
            <ul class="actions">
                <li><a href="/download/{{ .Site.Params.version }}/director-root.qcow2" class="button primary">Director (Disk Image)</a></li>
                <li><a href="/download/{{ .Site.Params.version }}/director-data.qcow2" class="button primary">Director (Data Image)</a></li>
                <li><a href="/download/{{ .Site.Params.version }}/domain-root.qcow2" class="button primary">Domain (Disk Image)</a></li>
            </ul>
            <li>Launch Director VM</li>
            <pre>
            <code>
SITENAME=mysite
DOMAIN=$SITENAME.network
VM_HOSTNAME=director.$DOMAIN
VM_IMAGE=/data/$SITENAME/director-root.qcow2
DATA_IMAGE=/data/$SITENAME/director-data.qcow2
NET_ETH0=virbr3 # Host Bridge interface for Domain Network
NET_ETH1=virbr2 # Host Bridge interface for External Network

mkdir -p $(dirname $VM_IMAGE)

cp /data/ghpc-source/director-root.qcow2 $VM_IMAGE
cp /data/ghpc-source/director-data.qcow2 $DATA_IMAGE

virt-install --name=${VM_HOSTNAME} --boot uefi --ram=2048 --vcpus=1 --import --disk path=${VM_IMAGE},format=qcow2 --disk path=${DATA_IMAGE},format=qcow2 --os-variant=rhel9.4 --network bridge=${NET_ETH0},model=virtio --network bridge=${NET_ETH1},model=virtio --graphics vnc,listen=0.0.0.0 --noautoconsole
            </code>
            </pre>
            <li>Launch Domain (requires at least 2 cores and 4GB RAM)</li>
            <pre>
            <code>
SITENAME=mysite
DOMAIN=$SITENAME.network
VM_HOSTNAME=domain.$DOMAIN
VM_IMAGE=/data/$SITENAME/domain-root.qcow2
NET_ETH0=virbr3 # Host Bridge interface for Domain Network

cp /data/ghpc-source/domain-root.qcow2 $VM_IMAGE

virt-install --name=${VM_HOSTNAME} --boot uefi --ram=4096 --vcpus=2 --import --disk path=${VM_IMAGE},format=qcow2 --os-variant=rhel9.4 --network bridge=${NET_ETH0},model=virtio --graphics vnc,listen=0.0.0.0 --noautoconsole
            </code>
            </pre>
            <li>Log into director as root (default password: <code>p4ssw0rd1;</code>)</li>
            <ul>
                <li>Can locate DHCP IP on <code>ext</code> network of VM with <code>virsh net-dhcp-leases ext</code> (might need to cross reference with MAC address of VM interface shown in <code>virsh domiflist $VM_HOSTNAME</code>)
            </ul>
            <li>Read the embedded docs</li>
            <pre>
            <code>
ghpc-docs
            </code>
            </pre>
        </ol>

    </div>
</section>
