<section class="wrapper style1 align-center" id="learn">
    <div class="inner">
        <h2>How It Works</h2>
        <p>HPC provides 2 VM appliances that you can deploy on your chosen platform (e.g. libvirt, public cloud). These appliances provide the tools needed to create, deploy and manage multiple HPC & AI stacks ("clusters"). The Director & Domain sit in a "Domain Network", the director creates controllers.</p>
        <ul class="alt">
            <li><b>Director:</b> Configures, deploys & manages your clusters</li>
            <li><b>Domain:</b> Identity server for user & host management</li>
            <li><b>Controller:</b> The service provider for a cluster</li>
            <li><b>Login:</b> End-user access to a cluster</li>
            <li><b>Compute:</b> Resources for running workloads</li>
        </ul>
        <span class="image fit"><img src="images/how-it-works.gif" alt="" /></span>
    </div>
</section>
